@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
}
main {
    font-family: 'Lato', sans-serif;   
}
section{
    height: 100vh;
}
.section1 {
    background-image: url(Largefiles/portfolio_background\ 1.png);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(0, 0, 0, 0.33);
}
.section1 nav{
    background-color: rgb(38, 56, 111, 0.8);
    position: fixed;
    display: flex;
    border-radius:0 0 1em 0 ;
    padding: 0.5em ;
    font-size: larger;
    color: white;
    font-size: 1.5em;
}
.section1 nav:last-child {
    display: flex;
}
.section1 a{
    text-decoration: none;
    color: white;
}
.contactme{
    border: 0.2em solid #F95E5A;
    border-radius: 0.5em;
}
.contactme:hover{
    background-color: white;
    color: #F95E5A;
    border-color: white;
}
.section1 nav div{
    margin: 0 auto;
}
.section1 nav div:first-of-type{
    margin-left: 0.001%;
    margin-right: 20em;
}
.section1 nav a{
    padding: 0 0.85em;
}
.section1 > :nth-child(2) {
    padding-top: 12em;
    text-align: center;
}
.section1 > :nth-child(2) > :first-child {
    max-width: 200px;
    min-width: 300px;
    border-radius: 50%;
}
.section1 > :nth-child(2) > :nth-child(2) {
    color: whitesmoke;
    font-size: 2.2em;
}
.section1 > :nth-child(2) > :nth-child(3){
    color: whitesmoke;
    font-size: 1.3em;
}

.section2 {
    background-color: #1E2233;
    display: grid;
    grid-template-columns: 30% 70%;
}
.section2 > :first-child {
    margin: auto;
}
.section2 > :first-child > img{
    width: 24em;
    height: 32em;
}
.section2 > :nth-child(2){
    color: white;
    margin-top: 8em;
    margin-right: 16em;
    justify-content: space-between;
}
.wrap span{
    padding-bottom: 0.1em;
    border-bottom: 0.11em solid #F95E5A;
    border-radius: 5%;
}
.section2 > :nth-child(2)  h4{
    font-size: 1.5em;
    font-style: normal;
}
.section2 > :nth-child(2)  h3{
    padding-top: 0.5em;
    padding-bottom: 0;
    font-size: 2em;
}
.section2 > :nth-child(2)  p{
    padding-top: 0.7em;
    padding-bottom: 1em;
}
.box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.2em solid #F95E5A;
    border-radius: 0.5em;
    padding: 2em;
    margin: 3em 3em 1.5em 0;
}
.box1 a{
    text-decoration: none;
    color: #8ea3ff;
}
.button > :first-child{
    width: 10em;
    height: 3em;
    border-radius: 2em;
    color: white;
    background-color: #F95E5A;
}
.button > :first-child:hover{
    color: #F95E5A;
    background-color: white;
    border: 0.2em solid #F95E5A;

}
.section3 {
    background-color: #24273D;
    color: white;
    margin: 0;
    height: 120vh;
}
.section3 h3{
    font-size: 2em;
}
.section3 h4{
    font-size: 1em;
}
.section3 > div:first-of-type h4{
    color: #F95E5A;
    padding-bottom: 0.5em;
}
.section3 > div:first-of-type span{
    padding-bottom: 0.1em;
    border-bottom: 0.1em solid #F95E5A;
    border-radius: 5%;
}
.section3 > :first-child{
    margin: 0 auto 0 5em;
    padding: 8em 0 0 0;
}
.projects {
    margin: 4em 10em 4em 5em;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 2em;
}
.projects div{
    padding: 16%;
    text-align: center;
    border: 0.3em solid #F95E5A;
    margin: 0 auto;
    border-radius: 0.5em;
}
.projects div:hover{
    color: #24273D;
    background-color: #F95E5A;
}
.projects div h4{
    padding-bottom: 1.2em;
}